name: Compile Examples

on:
  - push
  - pull_request

jobs:
  build-for-esp32:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: arduino/compile-sketches@v1
        with:
          fqbn: esp32:esp32:esp32
          platforms: |
            - name: esp32:esp32
              source-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
          sketch-paths: |
            - test/
            - examples/
          libraries: |
            - name: OneWire
            - name: DallasTemperature
          cli-compile-flags: |
            - --warnings="none"
